<div ng-if="ctrl.showRegister">
    <form class="container" ng-submit="ctrl.processForm()">
        <br>
        <h2>User Information</h2>
        <br>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">User Name</label>
                    <input type="text" class="form-control" id="register" placeholder="Create user name">
                    <label for="register" class="control-label">Password</label>
                    <input type="password" class="form-control" id="register" placeholder="Create password">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">First Name</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter your first name" ng-model="ctrl.formdata.first_name">
                    <label for="register" class="control-label">Last Name</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter your last name" ng-model="ctrl.formdata.last_name">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Hometown</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter your hometown" ng-model="ctrl.formdata.hometown">
                    <label for="register" class="control-label">Image</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter image url" ng-model="ctrl.formdata.img">
                </div>
            </div>
        </div>
        <br>
        <h2>School Information</h2>
        <br>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">School</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter school name" ng-model="ctrl.formdata.school">
                    <label for="register" class="control-label">Graduation Year</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter graduation year" ng-model="ctrl.formdata.graduation_year">
                    <label for="register" class="control-label">GPA</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter your GPA" ng-model="ctrl.formdata.gpa">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Colleges Interested in</label>
                    <input type="text" class="form-control" id="register" placeholder="List all colleges of interest" ng-model="ctrl.formdata.college_interests">
                    <label for="register" class="control-label">Academic Interests</label>
                    <input type="text" class="form-control" id="register" placeholder="List all academic interests" ng-model="ctrl.formdata.academic_interests">
                </div>
            </div>
        </div>
        <br>
        <h2>Player Information</h2>
        <br>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Height</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter your height" ng-model="ctrl.formdata.height">
                    <label for="register" class="control-label">Weight</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter your weight" ng-model="ctrl.formdata.weight">
                    <label for="register" class="control-label">Player Number</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter your jersey number" ng-model="ctrl.formdata.number">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Bats</label>
                    <input type="text" class="form-control" id="register" placeholder="Right, Left, or Switch" ng-model="ctrl.formdata.bats">
                    <label for="register" class="control-label">Throws</label>
                    <input type="text" class="form-control" id="register" placeholder="Right or Left" ng-model="ctrl.formdata.throws">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Position(s)</label>
                    <input type="text" class="form-control" id="register" placeholder="List all positions played" ng-model="ctrl.formdata.positions">
                    <label for="register" class="control-label">Summer Team</label>
                    <input type="text" class="form-control" id="register" placeholder="Enter your summer team name" ng-model="ctrl.formdata.summer_team">
                </div>
            </div>
        </div>
        <br>
        <h2>Pitching/Fielding</h2>
        <br>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Fastball</label>
                    <input type="text" class="form-control" id="register" placeholder="MPH" ng-model="ctrl.formdata.fastball">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Curve/Slider</label>
                    <input type="text" class="form-control" id="register" placeholder="MPH" ng-model="ctrl.formdata.breaking_ball">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Changeup</label>
                    <input type="text" class="form-control" id="register" placeholder="MPH" ng-model="ctrl.formdata.changeup">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Outfield Velo.</label>
                    <input type="text" class="form-control" id="register" placeholder="MPH" ng-model="ctrl.formdata.field_velo">
                </div>
            </div>
        </div>
        <br>
        <h2>Field Test Scores</h2>
        <br>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">60 yd.</label>
                    <input type="text" class="form-control" id="register" placeholder="Seconds" ng-model="ctrl.formdata.sixty_yd">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">30 yd.</label>
                    <input type="text" class="form-control" id="register" placeholder="Seconds" ng-model="ctrl.formdata.thirty_yd">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">L-Drill</label>
                    <input type="text" class="form-control" id="register" placeholder="Seconds" ng-model="ctrl.formdata.l_drill">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Broad jump</label>
                    <input type="text" class="form-control" id="register" placeholder="inches" ng-model="ctrl.formdata.broad_jump">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label">Med. Ball</label>
                    <input type="text" class="form-control" id="register" placeholder="Feet" ng-model="ctrl.formdata.med_ball">
                </div>
            </div>
        </div>
        <br>
        <!-- <h2>Videos</h2>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label"></label>
                    <input type="text" class="form-control" id="register" placeholder="Enter video url">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label"></label>
                    <input type="text" class="form-control" id="register" placeholder="Enter video url">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label"></label>
                    <input type="text" class="form-control" id="register" placeholder="Enter video url">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="register" class="control-label"></label>
                    <input type="text" class="form-control" id="register" placeholder="Enter video url">
                </div>
            </div>
        </div> -->
        <br>
        <div class="form-group">
          <input type="submit" class="submit btn btn-primary btn-lg btn-block" placeholder="Submit">
        </div>
        <br>
        <br>
   </form>
</div>
