<div ng-if="ctrl.showRegisterTeam">
  <form class="container" ng-submit="ctrl.processForm2()">
      <br>
      <h2>Team Information</h2>
      <br>

      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="register" class="control-label">Name</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter team name" ng-model="ctrl.teamformdata.name">
                  <label for="register" class="control-label">City, State</label>
                  <input type="text" class="form-control" id="register" placeholder="City, State" ng-model="ctrl.teamformdata.hometown">
                  <label for="register" class="control-label">Director/Head Coach</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter name"
                  ng-model="ctrl.teamformdata.director">
              </div>
          </div>
          <div class="col">
              <div class="form-group">
                  <label for="register" class="control-label">Type Of</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter type of team"
                  ng-model="ctrl.teamformdata.type_of">
                  <label for="register" class="control-label">Logo</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter img url"
                  ng-model="ctrl.teamformdata.logo">
              </div>
          </div>
      </div>
      <br>
      <h2>Contact info</h2>
      <br>
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="register" class="control-label">Phone #</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter phone #"
                  ng-model="ctrl.teamformdata.phone">
                  <label for="register" class="control-label">Website</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter team website"
                  ng-model="ctrl.teamformdata.website">
                  <label for="register" class="control-label">Email</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter team email"
                  ng-model="ctrl.teamformdata.email">
              </div>
          </div>
          <div class="col">
              <div class="form-group">
                  <label for="register" class="control-label">Facebook User Name</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter Facebook user name" ng-model="ctrl.teamformdata.fb">
                  <label for="register" class="control-label">Instagram User Name</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter Instagram user name" ng-model="ctrl.teamformdata.ig">
                  <label for="register" class="control-label">Twitter Handle</label>
                  <input type="text" class="form-control" id="register" placeholder="Enter Twitter handle" ng-model="ctrl.teamformdata.twit">
              </div>
          </div>
      </div>
      <br>
      <h2>About</h2>
      <div class="row">
          <div class="col">
              <div class="form-group">
                <label for="comment"></label>
                <textarea class="form-control" rows="5" id="about" placeholder="" ng-model="ctrl.teamformdata.about"></textarea>
              </div>
          </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <input type="submit" class="submit btn btn-primary btn-lg btn-block" placeholder="Submit">
      </div>
      <br>
      <br>
 </form>
</div>


</div>
